.leg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30em;
  height: 175.9em;

  &.is-right {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
  }

  .leg__bottom {
    position: absolute;
    left: 0.8em;
    bottom: 0;
    width: 25.8em;
    height: 93em;
    overflow: hidden;

    .leg__inner {
      position: absolute;
      left: 0;
      top: -63.8em;
      width: 141.9em;
      height: 214.1em;
      border-radius: 50%;
      overflow: hidden;
    }

    .leg__side {
      position: absolute;
      left: 20.9em;
      top: 42em;
      width: 27.9em;
      height: 179.5em;
      border-radius: 50%;
      box-shadow: -24em 0 0 8em var(--skin-color);
    }
  }

  .leg__top {
    position: absolute;
    left: 1em;
    top: 22em;
    width: 27.3em;
    height: 62em;
    overflow: hidden;
    transform: rotate(4deg);

    .leg__top-inner {
      position: absolute;
      top: -1.1em;
      left: 2.5em;
      width: 30.7em;
      height: 69.8em;
      transform: rotate(-12.3deg);
      background-color: var(--skin-color);
    }
  }
}

.sock-purple {
  position: absolute;
  top: 41em;
  right: 92%;
  width: 23.6em;
  height: 44%;
  overflow: hidden;

  .sock-purple__inner {
    position: absolute;
    left: 21.7em;
    top: -45em;
    width: 27.9em;
    height: 179.5em;
    border-radius: 50%;
    box-shadow: -24em 0 0 8em var(--sock-purple);
  }
}

.sock-purple__top {
  position: absolute;
  top: 35.3em;
  left: -19.2em;
  width: 21.4em;
  height: 10.2em;
  overflow: hidden;
  transform: rotate(4deg);

  .sock-purple__top-inner {
    position: absolute;
    top: -20em;
    left: 50%;
    width: 33.4em;
    height: 30.2em;
    border-radius: 50%;
    transform: translateX(-50%);
    border-bottom: 7em solid #000;
  }
}
