@import './general/variables';
@import './general/base';
@import './general/reset';

@import './components/boots/index';
@import './components/legs/index';
@import './components/sock-purple/index';
@import './components/sock-pink/index';
@import './components/skirt/index';
@import './components/heart/index';
@import './components/tail/index';
@import './components/chest/index';
@import './components/sweater/index';
@import './components/breast-area/index';
@import './components/cleavage/index';
@import './components/arms/index';
@import './components/hand-pins/index';
@import './components/arm-belt/index';
@import './components/head/index';
@import './components/face/index';
@import './components/mouth/index';
@import './components/nose/index';
@import './components/eye/index';

.ironmouse {
  position: relative;
  max-width: 150em;
  font-size: 10px;
  margin: 0 auto;
  transform-origin: center 0;
  // transform: scale(0.7);
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
