@import './general/variables';
@import './general/base';
@import './general/reset';

@import './components/boots';
@import './components/legs';
@import './components/sock-purple';
@import './components/sock-pink';
@import './components/skirt';
@import './components/heart';
@import './components/tail';
@import './components/chest';
@import './components/sweater';
@import './components/breast-area';
@import './components/cleavage';
@import './components/arms';
@import './components/hand-pins';
@import './components/arm-belt';
@import './components/head';
@import './components/face';
@import './components/mouth';
@import './components/nose';
@import './components/eye';
@import './components/eyelashes';
@import './components/eyelid';
@import './components/horn';
@import './components/neck';
@import './components/ears';
@import './components/eyebrow';
@import './components/neck-bell';
@import './components/neck-ribbon';
@import './components/hair';
@import './components/hair-top';

.ironmouse {
  position: relative;
  width: 150em;
  font-size: 10px;
  margin: 0 auto;
  transform-origin: center 0;
  // transform: scale(0.7);
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
