:root {
  --boot-brown: #503140;
  --boot-brown-dark: #311a24;
  --boot-tie: #281215;
  --ribbon-pink: #f85d89;

  --bell-dark: #a8878d;
  --bell-border: #693b48;
  --bell-light: #d8c7cd;
  --bell-lip: #674150;

  --leg-border: #831d1c;

  --skin-color: #fdf8f2;
  --skin-border: #7a1620;
  --skin-shadow: #e9b2b7;

  --sock-purple: #a278b7;
  --sock-croos-border: #3f1226;

  --sock-pink: #f2b9d9;

  --sock-border-color: #4f313d;
  --sock-patch: #82576a;
  --sock-patch-border: #3d0b17;
  --sock-patch-line: #4f313b;
  --sock-patch-line-border: #380d17;

  --strap-leg-color: #ffead3;
  --strap-leg-border: #511c18;

  --stap-leg-line: #361b18;
  --stap-leg-leather: #fff;

  --skirt: #503140;
  --skirt-under: #291218;
  --skirt-border: #390207;

  --skirt-line-hole-border: #674546;

  --skirt-stripe-purple: #824bb2;
  --skirt-stripe-pink: #f0557f;

  --skirt-side-strap: #312334;
  --skirt-side-strap-border: #33040a;
  --skirt-side-strap-circle-bg: #dbced8;
  --skirt-side-strap-circle-border: #330b0c;

  --stocking-strap: #432c36;
  --stocking-strap-border: #411315;
  --stocking-strap-square: #ffffea;

  --heart: #f773a2;

  --belt-hole: #37171c;
  --belt-hole-border: #3b2025;

  --cross-pink: #ff5c87;
  --cross-purple: #6b48a4;

  --tail-border: #2e0a0e;
  --tail-bg: #f7b2cf;

  --sweater: #efb6d6;
  --sweater-top: #fd86ae;
  --sweater-top-shadow: #d687b6;
  --sweater-border: #5f081b;
  --sweater-side-strap: #150a0e;
  --sweater-behind: #bb4d78;

  --arm-belt: #503140;
  --arm-belt-buckle: #f6fbf4;
  --arm-belt-border: #350e0f;

  --cleave-shadow: #874d4c;

  --sleave-bottom: #fd86ae;

  --pin: #fcffed;
  --pin-border: #3c0001;

  --mouth: #613333;
  --nose: #aa706f;

  --eye-bg: #fff;
  --eye-gradient-bottom: #ffe5ff;
  --eye-gradient-top: #cb74ff;
  --eye-shadow: #603d8f;
  --eye-iris: #fff;
  --eye-iris-border: #7948a1;
  --eye-inner-border: #7e3bae;

  --eye-highlight1: #fff;
  --eye-highlight2: #a3cffe;
  --eye-highlight2-border: #282c73;
  --eye-highlight3: #d63ba0;

  --eyelash: #29100c;

  --horn-border: #341417;
}
