:root {
  --boot-brown: #503140;
  --boot-brown-dark: #311a24;
  --boot-tie: #281215;
  --ribbon-pink: #f85d89;

  --bell-dark: #a8878d;
  --bell-border: #693b48;
  --bell-light: #d8c7cd;
  --bell-lip: #674150;

  --skin-color: #fdf8f2;

  --sock-purple: #a278b7;
  --sock-croos-border: #3f1226;
}
