.face {
  &--right {
    transform: rotateY(180deg);
  }

  .face__side {
    position: absolute;
    top: 16.8em;
    right: 50%;
    width: 19.6em;
    height: 53.3em;
    overflow: hidden;
  }

  .face__left {
    position: absolute;
    top: -4.3em;
    left: 1.5em;
    width: 38.1em;
    height: 60.2em;
    border-radius: 50%;
    transform: rotate(-4deg);
    overflow: hidden;
  }

  .face__bottom {
    position: absolute;
    bottom: 3.7em;
    left: -6.3em;
    width: 55.5em;
    height: 48.2em;
    transform: rotate(49deg);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--skin-color);
    border-bottom: 0.2em solid var(--skin-border);

    &:after {
      content: '';
      position: absolute;
      top: -6.7em;
      left: 3.3em;
      width: 38.1em;
      height: 60.2em;
      border-radius: 50%;
      transform: rotate(-45deg);
      border-left: 1em solid var(--skin-border);
    }
  }
}
