.eyelashes-top {
  position: absolute;
  top: 0;
  left: 0.5em;
  width: 13.9em;
  height: 11.3em;
  overflow: hidden;
}

.eyelashes-top__inner {
  position: absolute;
  top: -2.4em;
  right: -0.2em;
  width: 13.2em;
  height: 12.2em;
  border-radius: 50%;
  overflow: hidden;
}

.eyelashes-top__side {
  position: absolute;
  right: -0.6em;
  top: 0.7em;
  width: 13.2em;
  height: 12.2em;
  border-radius: 50%;
  box-shadow: -2em 3.1em 0 1em var(--eyelash);
  animation: move 3s infinite alternate;
}

.eyelashes-top__bottom,
.eyelashes-top__above {
  position: absolute;
  top: 1.5em;
  right: -2.6em;
  width: 15.9em;
  height: 8.3em;
  transform: rotate(19deg);
  border-radius: 50%;
  overflow: hidden;
  animation: blink2 3s infinite alternate;
}

.eyelashes-top__bottom-inner,
.eyelashes-top__above-inner {
  position: absolute;
  top: 0.6em;
  right: -3em;
  width: 19.7em;
  height: 9.4em;
  border-radius: 50%;
  box-shadow: 0 -3em 0 1em var(--eyelash);
  transform: rotate(-7deg);
}

.eyelashes-top__bottom {
  top: 1.9em;
  transform: rotate(25deg);
}

.eyelashes-top__bottom-inner {
  top: 0.8em;
}

.eyelashes-top-curly {
  position: absolute;
  top: -1.1em;
  left: 7em;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  border-right: 0.2em solid var(--eyelash);
  transform: rotate(75deg);
  animation: blink3 3s infinite alternate;
}

@keyframes blink2 {
  0%,
  96% {
    right: -2.6em;
    width: 15.9em;
    transform: rotate(24deg) translateY(0);
  }

  100% {
    right: 1em;
    width: 12.8em;
    transform: rotate(6deg) translateY(7.3em);
  }
}

@keyframes blink3 {
  0%,
  96% {
    transform: rotate(75deg);
  }

  100% {
    transform: rotate(75deg) translate(7em, 4em);
  }
}

@keyframes move {
  0%,
  95% {
    box-shadow: -2em 3.1em 0 1em var(--eyelash);
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
