.neck {
  position: relative;

  .neck__inner {
    position: absolute;
    left: 50%;
    top: -6em;
    left: 50%;
    width: 7.9em;
    height: 9em;
    margin: 0 auto;
    background-color: var(--neck);
    transform: translateX(-50%);
    border-left: 0.2em solid var(--skin-border);
    border-right: 0.2em solid var(--skin-border);
    z-index: -1;
  }
}
