.boot-ties {
  position: absolute;
  width: 8.3em;
  height: 25.1em;
  left: 7em;
  top: 6em;
  transform: rotate(-4deg) skewX(-1deg);
  border-left: 0.2em solid var(--boot-brown-dark);
  border-right: 0.2em solid var(--boot-brown-dark);
}

.boot-ties__inner {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: var(--boot-brown-dark);
  border-left: 0.1em solid #000;
  border-right: 0.1em solid #000;
  overflow: hidden;
}

.boot-tie {
  position: absolute;
  width: 12em;
  height: 0.8em;
  background-color: var(--boot-tie);

  &:nth-child(1) {
    top: 0.8em;
    left: -1em;
    transform-origin: 0 0;
    transform: rotate(40deg);
  }

  &:nth-child(2) {
    top: 0.8em;
    right: -1em;
    transform-origin: right 0;
    transform: rotate(-40deg);
  }

  &:nth-child(3) {
    top: 6.6em;
    left: -1em;
    transform-origin: 0 0;
    transform: rotate(38deg);
  }

  &:nth-child(4) {
    top: 6em;
    right: -1em;
    transform-origin: right 0;
    transform: rotate(-40deg);
  }

  &:nth-child(5) {
    top: 12.6em;
    left: -1em;
    transform-origin: 0 0;
    transform: rotate(35deg);
  }

  &:nth-child(6) {
    top: 12em;
    right: -1em;
    transform-origin: right 0;
    transform: rotate(-40deg);
  }

  &:nth-child(7) {
    top: 18.6em;
    left: -1em;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  &:nth-child(8) {
    top: 18em;
    right: -1em;
    transform-origin: right 0;
    transform: rotate(-35deg);
  }
}
