.skirt-belt-top {
  position: absolute;
  left: 50%;
  top: 0.5em;
  width: 41.1em;
  height: 5.4em;
  transform: translateX(-50%);

  .skirt-belt-top__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 236.2em;
      height: 29.1em;
      transform: translateX(-50%);
      border-radius: 50%;
      border: 4.8em solid var(--skirt);
      box-shadow: inset 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }
  }

  .heart {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-9deg) scale(0.9);
    z-index: 1;

    .heart__half {
      &:nth-child(1) {
        box-shadow: -0.1em 0 0 0.1em rgba(#000, 0.3);
      }

      &:nth-child(2) {
        box-shadow: 0.1em 0.1em 0 -0.1em rgba(#000, 0.3);
      }
    }
  }
}
