.eyelid {
  position: absolute;
  top: -1.6em;
  left: 1em;
  width: 11.3em;
  height: 13.1em;
  border-radius: 50%;
  overflow: hidden;

  .eyelid__inner {
    position: absolute;
    top: 3.9em;
    left: -5em;
    width: 19em;
    height: 11.5em;
    border-radius: 50%;
    box-shadow: 0 -10em 0 5em var(--skin-color);
    animation: blink 3s infinite alternate;
  }
}

@keyframes blink {
  0% {
    transform: translateY(0);
  }

  96% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10em);
  }
}
