.arms {
  position: absolute;
  top: 2.9em;
  left: 50%;
  width: 151.8em;
  height: 125.8em;
  transform: translateX(-50%);

  .arm {
    .arm__inner {
      position: absolute;
      top: -2em;
      width: 38.9em;
      height: 131.6em;
    }

    &:nth-child(1) {
      .arm__inner {
        left: 13em;
        transform: rotate(25deg);
      }
    }

    &:nth-child(2) {
      .arm__inner {
        right: 13em;
        transform: rotate(-25deg);
      }
    }
  }
}
