.sweater-top {
  position: absolute;
  top: 1em;
  left: 50%;
  width: 50.8em;
  height: 10.55em;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 7.2em;
    left: 0.8em;
    width: 5em;
    height: 5em;
    background-color: var(--sweater);
    border-radius: 15%;
    transform: rotate(13deg);
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    top: 7.6em;
    right: 0.7em;
    width: 5em;
    height: 5em;
    background-color: var(--sweater);
    border-radius: 15%;
    transform: rotate(-12deg);
    z-index: 2;
  }

  .sweater-top__inner {
    position: absolute;
    left: 1.1em;
    top: -10.2em;
    width: 48.8em;
    height: 40em;
    border-radius: 50%;
    overflow: hidden;
    border: 0.4em solid var(--sweater-border);
  }

  .sweater-top__line-left {
    position: absolute;
    left: -31.2em;
    top: 9.7em;
    width: 62em;
    height: 35em;
    border-radius: 50%;
    overflow: hidden;
    border-top: 0.2em solid var(--sweater-border);

    .sweater-top__line-inner {
      position: absolute;
      bottom: 26.4em;
      left: 31em;
      width: 20.2em;
      height: 7.7em;
      transform: rotate(10deg);
      background-color: var(--sweater-top);
      box-shadow: inset 0 0 0 0.2em var(--sweater-border);
    }
  }

  .sweater-top__line-right {
    position: absolute;
    right: -31.2em;
    top: 9.7em;
    width: 62em;
    height: 35em;
    border-radius: 50%;
    overflow: hidden;
    border-top: 0.2em solid var(--sweater-border);

    .sweater-top__line-inner {
      position: absolute;
      bottom: 26.1em;
      right: 31em;
      width: 20.2em;
      height: 8.7em;
      transform: rotate(-9deg);
      background-color: var(--sweater-top);
      box-shadow: inset 0 0 0 0.2em var(--sweater-border);
    }
  }

  .sweater-top__line-center {
    position: absolute;
    top: 13.4em;
    left: 50%;
    width: 10em;
    height: 7.2em;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 2;

    .sweater-top__line-inner {
      position: absolute;
      bottom: 0.2em;
      left: 57%;
      width: 35.4em;
      height: 17em;
      transform: translateX(-50%);
      border-radius: 50%;
      overflow: hidden;
      border-bottom: 0.2em solid var(--sweater-border);
    }

    .sweater-top__line-center-item {
      position: absolute;
      bottom: 5.35em;
      left: 48%;
      width: 19.3em;
      height: 17em;
      border-radius: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 0 10em var(--sweater-top),
        inset 0 -0.3em 0.2em 0 rgba(0, 0, 0, 0.15);
      border-bottom: 0.2em solid var(--sweater-border);
    }
  }
}
